body {
    background-color: lightblue;
}

/* navbar */
.navigation img {
    width: 80px;
}

.navigation {
    display: flex;
    align-items: center;
    background-color: azure;
    padding: 10px;
}

.navigation .mobile_menu{
    display: none;
}

.nav_toggle {
    display: none;
}

.navigation ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navigation li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
}

.navigation li.selected {
    background-color: lightblue;
    padding: 10px;
    border-radius: 20%;
}

.navigation li a {
    color: black;
}

.search_icon {
    font-size: 25px;
    color: red;
    margin-left: auto;
    margin-right: 40px;
}

/* navbar end */

/* news card */
.news_card {
    display: flex;
    padding: 10px;
    gap: 50px;
    align-items: center;
    margin: 30px;
    border-bottom: solid 2px red;
}

.news_heading {
    width: 50%;
    color: black;
}

a {
    text-decoration: none;
}

.news_card img {
    width: 500px;
    height: 300px;
}

/* news card end */

/* news page */
.news_page {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.news_title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.news_title img {
    width: 450px;
    height: 250px;
}

.stamp {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

/* news page end */

.search_form {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 14%;
    right: 1%;
}

.search_form input {
    width: 250px;
    height: 30px;
}

.search_form input:focus {
    outline: none;
    border-color: red;
}

.search_form button {
    background-color: red;
    border-color: red;
    height: 35px;
    width: 80px;
    align-items: center;
}

#footer {
    background-color: azure;
    padding: 10px;
    margin-bottom: auto;
    margin-top: 50px;
}

#footer li {
    list-style-type: none;
    font-size: 18px;
    cursor: pointer;
    width: 80px;
}

#footer li a {
    color: black;
}

@media (max-width: 600px) {
    /* navbar */
    .navigation img {
        width: 50px;
    }

    .navigation .wide_screen {
        display: none;
    }

    .nav_toggle {
        display: block;
        background-color: red;
        border-color: red;
        margin-left: 20px;
        width: 40px;
        padding: 5px 10px;
    }

    .navigation .mobile_menu {
        display: none;
        position: absolute;
        background: lightblue;
        border: 2px solid red;
        width: 150px;
        padding: 10px;
        top: 60px;
        left: 7px;
        gap: 10px;
        z-index: 10;
    }

    .navigation .mobile_menu li.selected{
        background-color: azure;
    }

    .navigation .mobile_menu.opened {
        display: flex;
        flex-direction: column;
    }

    .search_icon {
        margin-right: 0px;
        font-size: 20px;
    }
    /* navbar end */

    /* search bar */
    .search_form {
        top: 12.5%;
    }

    .search_form input {
        width: 150px;
        height: 20px;
    }

    .search_form button {
        width: 60px;
        height: 25px;
    }
    /* search bar end*/

    /* news card */
    .news_card{
        flex-direction: column;
        margin: 0;
        gap: 5px;
    }

    .news_card img{
        width: 250px;
        height: 150px;
    }

    .news_heading{
        width: 90%;
    }

    .news_heading h3{
        font-size: 16px;
    }

    .news_heading p{
        display: none;
    }
    /* news card end */

    /* news page */
    .news_page{
        width: 90%;
    }

    .news_title{
        flex-direction: column;
    }

    .news_title h2{
        font-size: 18px;
    }

    .news_title img{
        width: 300px;
        height: 150px;
    }
    /* news page end*/
}